<style>
  input{
  border: black 2px solid;
  width: 35px;
  height: 25px;
  text-align: center;
}

img{
  height:50px;
  width: 50px;
}

.description{
  position:relative;
  left: 70px;
  bottom: 50px;
}
</style>
{{# if products}}
<div style="background: darkkhaki; padding: 40px;">
  <div class="row">
  <div class="">
    <table class="table table-striped">
    <tbody>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
      {{# each products}}
      <tr>
        <td><img src="/uploads/{{this.image}}"></br></td>
        <td id="price">${{this.price}}</td>
        <td>
            <div class="row">
              <div>
                <a type="button" class="dec" href="/reduce/{{this.item._id}}">-</a>
              </div>
              <div>
                <p id="qty">{{this.qty}}</p>  
              </div>
              <div>
                <a type="button" class="inc" href="/remove/{{this.item._id}}">+</a>
              </div>
          </div>
        </td>
      </tr>
        {{/each}}
    </tbody>
  </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <strong>Total:{{totalPrice}}</strong>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
  </div>
</div>

{{else}}
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h2>No items in cart</h2>
  </div>
</div>
</div>
{{/if}}
